* {
  margin-left: 10px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #bababa;
  color: #363946;
}

h1 {
  text-align: center;
}

main {
  margin: 0 auto;
}

input {
  border: 2px solid #ffffff;
  transition: 0.2s all linear;
  width: 50px;
}

div {
  display: inline-block;
}

.button {
  width: 200px;
}

.success {
  font-size: 20px;
  color: green;
}

.wrong {
  font-size: 20px;
  color: red;
}

.status {
  color: grey;
}

#result-info {
  padding: 20px;
  color: #0f36e2;
  display: block;
}

.title {
  font-weight: bold;
}

.hidden {
  visibility: hidden;
}